@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container1 {
    background-color: #1F2937;
    height: 100px;
    display: flex;
    justify-content: center;
}

.container2 {
    background-color: #1F2937;
    height: 600px;
    display: flex;
    justify-content: center;
}

.container3 {
    background-color: #fcfcfc;
    display: flex;
    justify-content: center;
    margin: 50px auto;
}

.container4 {
    background-color: #E5E7EB;
    height: 500px;
    display: flex;
    justify-content: center;
}

body {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    line-height: 1.5;
    background-color: #fcfcfc;
    color: #f9fAf8;
}

.header,
.hero,
.footer {
    background-color: #1F2937;
}

.header {
    max-width: 1500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
}

.header .logo {    
    font-size: 24px;
    font-weight: 1000;
    margin-left: 10px;
}

.header .links {
    font-weight: thin;
    display: flex;
    gap: 24px;
    margin-right: 10px;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #f9fAf8;
}

.hero {
    max-width: 1500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    flex-wrap: wrap;
}

.hero .text {
    max-width: 800px;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.hero .title {
    font-size: 48px;
    font-weight: 900;
    line-height: 1.2;
}

.hero.subtext {
    color: #E5E7EB;
}

button {
    background-color: #3882F6;
    color: #f9fAf8;
    font-size: 18px;
    font-weight: 700;
    padding: 10px 40px;
    margin: 10px 0px;
    border-radius: 8px;
    border: 2px solid white;
    align-self: flex-start;
}

.hero img {
    height: 300px;
    max-width: 600px;
    margin: 10px;
    border-radius: 20px;
    flex: 1 1 auto
}

.content1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
}

.content1 .title {
    color: #1F2937;
    font-size: 36px;
    font-weight: 900;
    margin: 50px 10px;
    line-height: 1.2;
}

.content1 .boxes {
    font-size: 16px;
    color: #7a7a7a;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
    margin: 50px 10px;
}

.box1,
.box2,
.box3,
.box4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    flex: 0 1;
    text-align: center;
}

.content1 img {
    height: 250px;
    width: 250px;
    border-radius: 20px;
}

.content2 {
    max-width: 1200px;
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content2 .quote {
    color: #1F2937;
    font-size: 36px;
    font-style: italic;
    font-weight: 0;
    margin: 0px 10px;
}

.content2 .credit {
    color: #1F2937;
    font-size: 20px;
    font-style: normal;
    font-weight: 1000;
    align-self: flex-end;
    margin: 0px 10px;
}

.content3 {
    background-color: #3882F6;
    max-width: 1300px;
    margin: 100px auto;
    border-radius: 10px;
    padding: 50px 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.content3 .text {
    font-size: 22px;
    font-weight: 1000;
}

.content3 .subtext {
    font-size: 16px;
}

.footer {
    font-size: 14px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}